edge_project_id     = "gcp-prod-edp-edge-509423"
host_project_id     = "gcp-prod-edp-hub-vpchost"
data_project_id     = "pjt-c-admin"
target_dataset      = "dlk_sample"
target_table        = "gcp_region_inventory"
region              = "asia-northeast3"
network_name        = "vpc-prod-edp-hub"
subnet_name         = "subnet-prod-edp-l2comm-gke-an3"
pod_range_name      = "pods-prod-edp-l2comm-an3"
service_range_name  = "services-prod-edp-l2comm-an3"
control_plane_cidr  = "10.254.5.0/28"
cluster_name        = "gke-l2comm-batch-an3"
artifact_repository = "ar-l2comm-python"
image_name          = "python-bq-batch"
image_tag           = "v1"
namespace           = "l2comm-batch"
ksa_name            = "ksa-l2comm-batch"
workflow_name       = "wf-l2comm-gke-job"
vm_service_account  = "620081195575-compute@developer.gserviceaccount.com"
