BQ_JOB_PROJECT=gcp-prod-edp-edge-509423

BQ_VPSH_SOURCE_PROJECT=gcp-prod-edp-lake
BQ_VPSH_SOURCE_DATASET=DLKL2RSVP
BQ_RKDG_SOURCE_PROJECT=gcp-prod-edp-lake
BQ_RKDG_SOURCE_DATASET=DLKT2RSVP
BQ_PARSE_SOURCE_PROJECT_1=gcp-prod-edp-lake
BQ_PARSE_SOURCE_DATASET_1=DLKVW
BQ_PARSE_SOURCE_PROJECT_2=gcp-sbx-edp-rsvp
BQ_PARSE_SOURCE_DATASET_2=DLKVWE

BQ_WRITE_PROJECT=gcp-prod-edp-edge-509423
BQ_WRITE_DATASET=DLKT2RSVP_TEST

BQ_READ_ONLY=1
BQ_AUTH_PATH=
