edge_project_id             = "gcp-prod-edp-edge-509423"
region                      = "asia-northeast3"
cluster_name                = "gke-l2comm-batch-an3"
workflow_name               = "wf-l2comm-gke-job"
scheduler_name              = "sch-l2comm-gke-job"
workflow_service_account    = "sa-l2comm-workflow@gcp-prod-edp-edge-509423.iam.gserviceaccount.com"
namespace                   = "l2comm-batch"
ksa_name                    = "ksa-l2comm-batch"
image_uri                   = "asia-northeast3-docker.pkg.dev/gcp-prod-edp-edge-509423/ar-l2comm-python/python-bq-batch:v1"
target_project              = "pjt-c-admin"
target_dataset              = "dlk_sample"
target_table                = "gcp_region_inventory"
schedule                    = "0 1 * * *"
time_zone                   = "Asia/Seoul"
